GROQ_API_KEY=
GEMINI_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GOOGLE_SHEET_ID=

CANDIDATE_NAME=Your name
CANDIDATE_PHONE=your_phone_number
CANDIDATE_EMAIL=your_email
CANDIDATE_LINKEDIN=linkedin.com/in/your-profile
CANDIDATE_GITHUB=github.com/your-username
CANDIDATE_PORTFOLIO=your-portfolio-url